@use "../../assets/sass/.variables.scss" as *;

.card {
    width:300px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;

    &__name {
        margin: 0px;
        padding: 10px;
        font-size: 20px;
    }

    &__img {
        width: 200px;
        height: 300px;
        object-fit: scale-down;
        align-items: center;
    }

    &__tagline {
        margin: 0px;
        padding: 10px;
        font-size: 15px;
    }
}