.main {
    height: 100vh;
    overflow-y: scroll;

    &__beers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}