@use "../../assets/sass/.variables.scss" as *;


.main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    &__beers {
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        background: linear-gradient(323deg,
                $shadow-blue 0%,
                $gradient-blue 100%);
    }
}

@media screen and ( max-width: 641px) {
    
    .main {
        height: 100%;
        overflow-y: none;
    }
}
