$black: #000;
$grey: #424242bf;
$white: #FFFFFF;
$shadow-blue: #021616;
$dark-blue: #0c4b4b;
$mid-blue: #063333;
$middle-blue: #08585E;
$gradient-blue: #007171;
$blue: #0e927a;
$light-blue: #0cf3c9;
$bright-blue: #5fffe2;